<%= form_for(@brew) do |f| %>
  <% if @brew.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brew.errors.count, "error") %> prohibited this brew from being saved:</h2>

      <ul>
      <% @brew.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :style %><br />
    <%= f.collection_select :style, Brew::BREW_STYLES, :to_s, :to_s, 
       :include_blank => true
    %>
  </div>
  <div class="field">
    <%= f.label :mash_type %><br />
    <%= f.collection_select :mash_type, Brew::MASH_TYPES, :to_s, :to_s, 
       :include_blank => true
    %>
  </div>
  <div class="field">
    <%= f.label :grains %><br />
    <%= f.text_field :grains %>
  </div>
  <div class="field">
    <%= f.label :hops %><br />
    <%= f.text_field :hops %>
  </div>
  <div class="field">
    <%= f.label :extras %><br />
    <%= f.text_field :extras %>
  </div>
  <div class="field">
    <%= f.label :instructions %><br />
    <%= f.text_field :instructions %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br />
    <%= f.text_field :created_by %>
  </div>

  <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
