<h1>Listing users</h1>

<table class="table table-striped table-condensed">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= button_to 'Show', user, method: :get, class: "btn" %></td>
    <td><%= button_to 'Edit', edit_user_path(user), method: :get, class: "btn" %></td>
    <td><%= button_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path, class: "btn btn-primary" %>
