<h1>Listing beers</h1>

<table>
  <tr>
    <th>Style</th>
    <th>Abv</th>
    <th>Bascore</th>
    <th>Name</th>
    <th>Brewery</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @beers.each do |beer| %>
  <tr>
    <td><%= beer.beer_style %></td>
    <td><%= beer.beer_abv %></td>
    <td><%= beer.beer_bascore %></td>
    <td><%= beer.beer_name %></td>
    <td><%= beer.brewery_name %></td>
    <td><%= link_to 'Show', beer %></td>
    <td><%= link_to 'Edit', edit_beer_path(beer) %></td>
    <td><%= button_to 'Destroy', beer, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Beer', new_beer_path %>
