<%= link_to "BrewHub", root_path, :class => 'brand' %>
<ul class="nav">
    <% if user_signed_in? %>
            <li>
            <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>        
            </li>
            <%= active_link 'Edit account', edit_user_registration_path %>
            <%= active_link 'My Brews', gallery_brews_path  %>
            
    <% else %>
            <%= active_link 'Login', new_user_session_path  %>  
            <%= active_link 'Sign up', new_user_registration_path  %>
    <% end %>   
</ul>