<%= link_to "Home", "#", :class => 'brand' %>
<ul class="nav">
    <li>
    <%= link_to('Logout', "#", :method=>'delete') %>        
    </li>
    <li>
    <%= link_to('Login', "#")  %>  
    </li>
    <li>
    <%= link_to('Edit account', "#") %>
    </li>
    <li>
    <%= link_to('Sign up', "#")  %>
    </li>
</ul>